extends ../extend/default

block variables
	-
		title = 'Blog page',
		socialIconList = ['fb', 'tw', 'linkedin'],
		breadList = ['main', 'blog', 'blog page'];

block main
	main.content(data-page='blog page')
		//begin screen
		+b.screen
			+e.img
				img(src='static/img/build-to-order_main.png' alt='image')
			+e.CANVAS.canvas_vertical-arc#screenCanvas
			+e.container.container
				+e.description_blog(data-anim='group')
					+e.H1.description-top(data-anim-stagger='fade-top' data-anim-parent-trigger data-mob-anim='group' data-mob-anim-stagger='fade-top') 6 Ruby quetions to Piotr Szotkowski
					+e.description-bot(data-anim-stagger='fade-top' data-anim-parent-trigger data-mob-anim='group' data-mob-anim-stagger='fade-top')
						p by Svitla Team
					+e.description-date(data-anim-stagger='fade-top' data-anim-parent-trigger data-mob-anim='group' data-mob-anim-stagger='fade-top') july 04, 2017
				+e.svg-line
					svg(viewBox='0 0 600 600')
						path(d='M600,0 0,600')
				+e.content
					+e.scroll.is-active(data-hover='scroll')
						span scroll
		//end screen

		//begin sharing
		+b.SECTION.blog-1_default.section_sharing
			+e.container.container(data-anim='group')
				+e.row.col__wrap_redactor(data-anim='group')
					+e.col.col__small(data-mob-anim='group' data-mob-anim-stagger='fade-top')
						+b.share_top
							div Share
							+e.UL.icon
								each el in socialIconList
									li
										a(href=''): +i(el)
					+e.col.col__large
		//end sharing

		//begin redactor
		+b.SECTION.blog-1_default.section_redactor
			+e.container.container(data-anim='group')
				+e.row.col__wrap_redactor(data-anim='group')
					+e.col.col__small
					+e.col.col__large.anim-line
						.redactor
							p
								| On 3-4 June 2017 Svitla is organizing the fifth annual Ruby Conference - RubyC! In terms of preparation for the event it has become a nice tradition to make small interviews with Speakers, to help participants know them a little better. This week we are happy to present answers from a brilliant Polish Ruby developer Piotr Szotkowski aka @chastell who presents a topic "Ruby Smells".
							blockquote
								| Writing good object-oriented code is hard: object boundaries are not always as clear-cut as we’d like, their responsibilities and reasons to change tend to grow over time, inter-object coupling makes isolated testing complicated – and emergency refactorings are tiresome, gnarly and seem to always happen too late.
							p
								| In terms of preparation for the event it has become a nice tradition to make small interviews with Speakers, to help participants know them a little better. This week we are happy to present answers from a brilliant Polish Ruby developer Piotr Szotkowski aka @chastell who presents a topic "Ruby Smells".
							ol.ol-orange
								li
									h2 Tell us about your recent work, what have you learned/found out/achieved.
									p My recent programming-related work was quite interesting; at Rebased I’m working with a solar energy company, writing software for monitoring and administration of their solar panel farms, and at my university I’m researching reversible computing, while dabbling a bit in Crystal.
								li
									h2 Your Topic “Ruby Smells” is devoted to RuboCop and Reek. Why have you decided to talk about them? What projects or problems motivated you?
									p #[u RuboCop] becomes more and more a widely-recognised set of standards for writing #[u Ruby syntax], and while I wholeheartedly disagree with some of its rules and can fully understand the frustration it causes in some developers I still think it’s in general a welcome tool in our everyday life.
									p Reek, while seemingly similar, is totally different: #[u rather than concentrating on the syntax it tries to point out potential architectural problems in a codebase on an OOP level]. Reek’s results are much less rules and much more suggestions where to look for potential issues, and can’t really be auto-corrected (but rather require – often quite extensive – refactoring).
									p I talk about Reek because it taught me *a lot* about Wpf application <strong class="strong-orange">OOP</strong>, structuring my programs and, in general, moving code closer to where it belongs, even if it’s non-trivial. I got fascinated by the amount of #[b OOP code] smells that can be automatically recognized (and, as a result, became one of Reek’s maintainers).
								li
									h2 Sometimes recommendations from RuboCop and Reek are different. How to bring them into line?
									p There are relatively few areas covered by both <strong class="strong-orange">RuboCop</strong> and <strong class="strong-orange">Reek</strong>; RuboCop is more of a syntax style enforcer, while Reek is an architectural tool. There are some common areas of interest –e.g., RuboCop tries to eradicate long methods because they’re a readability issue, while Reek points them out as potential code smells that mix the level of abstraction – but in general the best approach is to figure out what are acceptable thresholds for a given project (e.g., maximum number of lines in a method or maximum number of instance variables) and adjust them as necessary.
									p In general, RuboCop is much more opinionated because it usually deals with much cleaner choices – ‘this kind of syntax should be indented this many spaces’ or ‘single quotes where possible vs double quotes everywhere’ are relatively easily made choices that should indeed be uniformly enforced across the whole codebase if possible. #[u Reek seldom deals in absolutes; there are often cases where a given piece of logic *technically* should live closer to class A, but *in practice* is much more useful when put in class B.]
								li
									h2 We know that you often present at conferences around the world, can you share latest rumors?
									p It’s surprisingly hard to share technical rumors without heavily coating them with your own superstitions (or hopes), but it’s really interesting what the Ruby world learns and picks up from functional languages like Elixir and Clojure. Also, the dry-rb family of libraries might be worth a closer look. ;) Also, TruffleRuby seems like a super interesting project…
								li
									h2 What do you expect from 2017 for Ruby?
									p More advances in stability and performance, with wonderful results delivered by
										a(href='http://google.com.ua') &nbspTruffleRuby&nbsp
										| and sustained progress of incremental improvements from the relentless JRuby team. Probably a few new libraries that will show how to do implement Ruby some interesting features of other languages.
								li
									h2 What are you interested in above coding?
									p I really enjoy photography – nothing fancy, but some of my street shots can be found at
										a(href='http://google.com.ua') http://chastell.net/1/125/
									p I also like casual city cycling, sadly I have time mostly on my daily 2×10 km commute.
										img(src="static/img/velo.jpg" alt="image").redactor__img
		//end redactor

		//begin blog-4-section
		+b.SECTION.blog-4_white.section_redactor-signature
			.container
				+e.row.col__wrap
					+e.col.col__small
						+b.share
							div Share
							+e.UL.icon
								each el in socialIconList
									li
										a(href=''): +i(el)
					+e.col.col__large.anim-line
						.redactor__signature(data-anim='group')
							.redactor__signature-title by Illya Reznykov, Developer @ Svitla
							.redactor__signature-date july 04, 2017
		//end blog-4

		//begin loop
		+b.SECTION.loop
				+e.container(data-anim='group')
						+e.row
								+e.col(data-anim-stagger='fade-top' data-mob-anim='group' data-mob-anim-stagger='fade-top')
										+e.link(data-anim-stagger='fade-top')
												-
														link = {
														text: 'prev case',
														className: 'link-dark js-link-multiple-circle',
														icons: true
														}
												include ../components/link
								+e.col(data-anim-stagger='fade-top' data-mob-anim='group' data-mob-anim-stagger='fade-top')
										+e.link(data-anim-stagger='fade-top')
												-
														link = {
														text: 'next case',
														className: 'link-dark js-link-multiple-circle',
														icons: true
														}
												include ../components/link
		//end loop

		//SLIDER_begin
		+b.SECTION.slider-inner_articles.section
			.container(data-anim='group')
				+e.title.h1(data-anim-stagger='fade-top' data-mob-anim='group' data-mob-anim-stagger='fade-top') Related articles
				+e.row.col__wrap(data-anim='group')
					+e.col.col__small(data-mob-anim='group' data-mob-anim-stagger='fade-top')
						+e.arrows_articles(data-anim-stagger='fade-top' data-anim-parent-trigger)
							+e.A(href="").prev: +i('arrow-left')
							+e.A(href="").next: +i('arrow-right')
					+e.slides_articles.col__large
						.cases__item.anim-line(data-mob-anim='group' data-mob-anim-stagger='fade-top')
							a(href="").cases__media
								img(src='static/img/half-14.jpg' alt='image')
							.cases__info
								a.cases__subtitle.h4(href="" data-anim-stagger='fade-top' data-mob-anim='group' data-mob-anim-stagger='fade-top' data-anim-parent-trigger) Great hints and practical tips to a project manager
								.cases__text A Project Manager is an engaging, electrifying, and consuming job, isn’t it? It requires constant self-education and professional seminars and conferences become valuable educational tools as well as sources of new ideas and experience exchange for a PM.
								.cases__text By John Smith
								.cases__date March 06, 2017
							.cases__tag news
						.cases__item.anim-line(data-mob-anim='group' data-mob-anim-stagger='fade-top')
							a(href="").cases__media
								img(src='static/img/half15.jpg' alt='image')
							.cases__info
								a.cases__subtitle.h4(href="" data-anim-stagger='fade-top' data-mob-anim='group' data-mob-anim-stagger='fade-top' data-anim-parent-trigger) Great hints and practical tips to a project manager
								.cases__text A Project Manager is an engaging, electrifying, and consuming job, isn’t it? It requires constant self-education and professional seminars and conferences become valuable educational tools as well as sources of new ideas and experience exchange for a PM.
								.cases__text By John Smith
								.cases__date March 06, 2017
							.cases__tag events
						.cases__item.anim-line(data-mob-anim='group' data-mob-anim-stagger='fade-top')
							a(href="").cases__media
								img(src='static/img/slider-1.jpg' alt='image')
							.cases__info
								a.cases__subtitle.h4(href="" data-anim-stagger='fade-top' data-mob-anim='group' data-mob-anim-stagger='fade-top' data-anim-parent-trigger) Great hints and practical tips to a project manager
								.cases__text A Project Manager is an engaging, electrifying, and consuming job, isn’t it? It requires constant self-education and professional seminars and conferences become valuable educational tools as well as sources of new ideas and experience exchange for a PM.
								.cases__text By John Smith
								.cases__date March 06, 2017
							.cases__tag art
						.cases__item.anim-line(data-mob-anim='group' data-mob-anim-stagger='fade-top')
							a(href="").cases__media
								img(src='static/img/half-2.jpg' alt='image')
							.cases__info
								a.cases__subtitle.h4(href="" data-anim-stagger='fade-top' data-mob-anim='group' data-mob-anim-stagger='fade-top' data-anim-parent-trigger) Great hints and practical tips to a project manager
								.cases__text A Project Manager is an engaging, electrifying, and consuming job, isn’t it? It requires constant self-education and professional seminars and conferences become valuable educational tools as well as sources of new ideas and experience exchange for a PM.
								.cases__text By John Smith
								.cases__date March 06, 2017
							.cases__tag news
						.cases__item.anim-line(data-mob-anim='group' data-mob-anim-stagger='fade-top')
							a(href="").cases__media
								img(src='static/img/half-2.jpg' alt='image')
							.cases__info
								a.cases__subtitle.h4(href="" data-anim-stagger='fade-top' data-mob-anim='group' data-mob-anim-stagger='fade-top' data-anim-parent-trigger) Great hints and practical tips to a project manager
								.cases__text A Project Manager is an engaging, electrifying, and consuming job, isn’t it? It requires constant self-education and professional seminars and conferences become valuable educational tools as well as sources of new ideas and experience exchange for a PM.
								.cases__text By John Smith
								.cases__date March 06, 2017
							.cases__tag developments
		//SLIDER_end

		//begin meet
		+b.SECTION.meet_default.section_dark
			+e.container.container(data-anim='group' data-anim-delay='0.4')
				+e.title_smaller Stay informed - subscribe
				+e.row
					+e.col(data-anim-stagger='fade-top' data-mob-anim='group' data-mob-anim-stagger='fade-top')
						p Join our newsletter and get the latest content right in your inbox once or twice per week.
					+e.col
						+b.FORM.form.__form(action='')
							.form-group.form-group_with-btn(data-anim-stagger='fade-top' data-prepare-anim data-mob-anim='group' data-mob-anim-stagger='fade-top')
								input.form-input(type='text' id='formName' autocomplete='off' required)
								label.form-input-label(for='formName'): span Your Email
								.help-block Error
							.form-group.form-group_submit-textarea(data-anim-stagger data-prepare-anim data-mob-anim='group' data-mob-anim-stagger='fade-top')
								+b.BUTTON.btn(type='submit')
									+e.SPAN.bg
										+e.SPAN.bg-top
									+e.SPAN.bg
										+e.SPAN.bg-bot
									+e.SPAN.text sing up

						+e.form-ty
							+e.form-ty-title.h4 Thank you! <br>We will contact very shortly.
							p Your message is recieved. Svitla's sales manager of your region will contact you to discuss how we could be helpful.
		//end meet