.icon-1 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-10 {
  width: 1.31em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-11 {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-2 {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-3 {
  width: 0.94em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-4 {
  width: 1.07em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-5 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-6 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-7 {
  width: 0.83em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-8 {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-9 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-arrow-left {
  width: 0.59em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-arrow-right {
  width: 0.59em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Aviation {
  width: 1.02em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-beam {
  width: 0.38em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-BPA {
  width: 0.91em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Business_licensing  {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-circle {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-CMS {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-CMS_1 {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Computer_and mobile_accessories {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Computer_Software {
  width: 1.31em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-CRM {
  width: 1.34em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Cybersecurity {
  width: 0.83em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Design {
  width: 1.01em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Desktop {
  width: 1.11em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Digital_marketing {
  width: 1.04em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Diversity {
  width: 1.04em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-E-commers_1 {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Education {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Embedded {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Entertainment {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Farming {
  width: 0.54em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-fb {
  width: 0.48em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Financial serv {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-financial_services {
  width: 1em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-Gambling {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Helthcare {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-hide-icon {
  width: 1em;
  height: 1em;
  fill: #2e3a4d;
  stroke: initial;
}
.icon-Home {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Hospitality {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Human Resourses {
  width: 0.83em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Insurance {
  width: 1.03em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-IoT {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-IoT_1 {
  width: 1.6em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Law {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Machine_Learning {
  width: 1.37em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-marker {
  width: 2.35em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Media {
  width: 0.94em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Military {
  width: 0.43em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Mobile {
  width: 1.04em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Mobile_1 {
  width: 1.04em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-QA {
  width: 1.11em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-QA_1 {
  width: 0.94em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Real Estate {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Restaurants {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-search2 {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-show-icon {
  width: 1em;
  height: 1em;
  fill: #2e3a4d;
  stroke: initial;
}
.icon-Social project {
  width: 0.87em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Social {
  width: 0.87em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Social_project {
  width: 0.87em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Social_project_1 {
  width: 0.9em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Software_development {
  width: 1.33em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Sport {
  width: 0.78em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Telecommunication {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Transport {
  width: 1.21em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Traveling {
  width: 1.31em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-tw {
  width: 1.15em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
